<div class="content">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{ registeredUser.name }}</mat-card-title>
    </mat-card-header>
    <img
      class="image"
      mat-card-image
      src="{{ registeredUser.paths3sign }}"
      alt="{{ registeredUser.faceid }}"
    />
    <mat-card-content>
      <div *ngIf="registeredUser.notify; else loggedOut">
        Notificar:
        <mat-icon color="primary" aria-hidden="false" aria-label="Notificar activo"
          >notifications_active</mat-icon
        >
      </div>
      <ng-template #loggedOut>
        Notificar:
        <mat-icon color="primary" aria-hidden="false" aria-label="Notificar inactivo"
          >notifications_off</mat-icon
        >
      </ng-template>
      <div class="example-button-container">
        <button (click)="openDialog()" mat-mini-fab color="accent" matTooltip="Listar validaciones realizadas" matTooltipClass="tooltip-gray" aria-label="Listar validaciones realizadas">
          <mat-icon>list</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
